<div id = "wrapper">
#nav { 
    width:200px;
    background-color: beige;
    height: 500px;
    float: left;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

#banner {
    width:1200px;
    height:200px;
    background-color: royalblue;
    color: whitesmoke;
    clear: both;
}

#content {
    width:800px;
    height: 500px;
    float: left;
    background-color: gainsboro;
}

#footer {
    width:1200px;
    background-color: gray;
    color: white;
    clear: both;
}

#supporting {
    width: 200px;
    background-color: aliceblue;
    height: 500px;
    float: left;
}

#info {
    width:100px;
    background-color: gray;
    float: left;
}

</div>
